#rma-widget, #ad-container {
    width: 320px;
    height: 480px;
}

#canvas, #video {
	width: 320px;
	height: 480px;
}

#video {
	display: none;
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
}

#ctLayer {
	display: none;
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 0px;
	width: 320px;
	height: 480px;
}